*{                                /* this is applied for all the sections in html*/
    margin:0;
    padding:0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#ffffff;
    margin: 100px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display:flex;    /* the input field and search icon is aligned in center side by side*/
    align-items: center;
    justify-content: space-between;
}


    .search input{
        border:0;   /* here the border will basically remove the input field border and outline also remove the outline when after the border is also removed by making it into 0*/
        outline:0;
        background: #ebfffc;
        padding: 10px 25px;
        height:60px;
        border-radius: 60px;
        flex:1;
        margin-right: 16px;
        font-size: 18px;
    }


.search button{
    border:0;   /* here the border will basically remove the input field border and outline also remove the outline when after the border is also removed by making it into 0*/
    outline:0;
    background: #ebfffc;
    border-radius: 50%;
    height:60px;
    width:60px;
    cursor: pointer; /* by clicking on this icon it shows the pointer to hand symbol*/
}

.search button img{
    width: 19px;

}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width:40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display:none; /* this is used to hide the previous default city information*/
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 20px;
    display: none; /* this is used to hide the error message default*/
}